{% extends 'base.html' %}
{% load static %}
{% block content %} 
   <div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow-lg border-0 p-4" style="width: 40vw; height: 40vh;">
        
        <div class="text-center mb-4">
            <h1 class="fw-bold">Crewship</h1>
            <p class="text-muted">Enter a room name to join</p>
        </div>

        <form id="form">
            <div class="mb-3">
                <label class="form-label">Room Name</label>
                <input
                    type="text"
                    name="room"
                    class="form-control"
                    placeholder="Enter a room name..."
                    required
                >
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg">
                    Join Stream
                </button>
            </div>
        </form>

    </div>
</div>
<script type="text/javascript">
    let form = document.getElementById('form')

    let handleSubmit = async(e) => {
        e.preventDefault()
        let room = e.target.room.value.trim();

        let response = await fetch(`/get_token/?channel=${room}`)
        let data = await response.json()

        let UID = data.uid 
        let token = data.token

        sessionStorage.setItem('UID', UID)
        sessionStorage.setItem('token', token)
        sessionStorage.setItem('room', room)

        window.open('/rooms','_self')
    }
    form.addEventListener('submit', handleSubmit)
</script>

{% endblock %}